<template>
  <div class="container" style=" width: 500px">
    <br>
    <div class="panel panel-default" style="border-width:medium; padding:40px; color:teal  ">
        <form class="ui form">
            <div class="form-group">
                <label class="pull-left">User Account</label>
                <input type="text" class="form-control" placeholder="User Account"  v-model="accountLogin">
                
            </div>

            <div class="form-group" >
                <label class="pull-left">Password</label>
                <input type="text" class="form-control" placeholder="Password" v-model="passwordLogin">
            </div>

            <button class="ui teal button" style="float:left" v-on:click="clickbut()"><i class="id card icon" ></i> Login</button>
            <br>
      <!-- <router-link to="/user">
        <div class="ui buttons">
          <button type="submit" class="ui blue basic button" @click.once="addToAPI()" ><i class="save icon"></i> Save</button>
          <button class="ui blue basic button"> <i class="times icon" style="color:red"></i> Close</button>
        </div>
      </router-link> -->
        </form>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'Login',
  data () {
    return {
      User: {
        account: '',
        pass: '',
      },
      accountLogin: '',
      passwordLogin: ''
    }
  },
  methods: {
      clickbut() {
        console.log("clickbut")
        var i=0;
        var thisfunc = this
        for(i=0;i<this.User.length;i++){
            console.log("ppp")
            if(this.accountLogin == this.User[i].account && this.passwordLogin == this.User[i].pass){

              console.log("nnnnnn")
              var json = JSON.stringify(this.User[i])
              axios.post('http://localhost:3000/gettoken' , json)
                .then(function(response){ 
                  if(response.data.success){ 
                    console.log(response.data.token) 
                    localStorage.setItem('token', response.data.token) 
                    thisfunc.$router.replace('/user') 
                    // thisfunc.$router.push({ path: '/user'}) 
                  }

                })
                .catch((error) => {
                  console.log(error)
                })
            }
          }
        }
  },
  mounted(){
    axios.get("http://localhost:3000/veris")
      .then((response) => {
        console.log(response.data);
        this.User = response.data;
      })
      .catch((error) => {
        console.log(error);
      })
    }
  }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>