<template>
  <div class="container"  style=" width: 500px">
    <br>
    <h1 style ="text-align: left"> Contact <a class="ui teal label"> add</a></h1>
    <hr style="border-width:2px;"> 
    <form class="ui form">

      <div class="form-group">
        <label class="pull-left">Contact ID <span style="color: red">*</span></label>
        <input type="text" class="form-control" placeholder="Contact ID"  v-model="User.contact_Id">
      </div>

      <div class="form-group">
        <label class="pull-left">First Name <span style="color: red">*</span></label>
        <input type="text" class="form-control" placeholder="First Name" v-model="User.firstName">
      </div>

      <div class="form-group">
        <label class="pull-left">Last Name <span style="color: red">*</span></label>
        <input type="text" class="form-control" placeholder="Last Name" v-model="User.lastName">
      </div>

      <div class="form-group">
        <label class="pull-left">Mobile Number <span style="color: red">*</span></label>
        <input type="text" class="form-control" placeholder="Mobile Number" v-model="User.mobile_No">
      </div>

      <div class="form-group">
        <label class="pull-left">Email </label>
        <input type="text" class="form-control" placeholder="Email" v-model="User.email">
      </div>

      <div class="form-group">
        <label class="pull-left">Facebook </label>
        <input type="text" class="form-control" placeholder="Facebook" v-model="User.facebook">
      </div>

      <div class="form-group">
        <label class="pull-left">Image URL </label>
        <input type="text" class="form-control" placeholder="Image URL" v-model="User.img">
      </div>

      <router-link to="/user">
        <div class="ui buttons">
          <button type="submit" class="ui blue basic button" @click.once="updateToAPI()" ><i class="save icon"></i> Save</button>
          <button class="ui blue basic button"> <i class="times icon" style="color:red"></i> Close</button>
        </div>
      </router-link>
    </form>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'UpdateUser',
  data () {
    return {
      msg: 'Update User',
      User: {
        contact_Id: null,
        firstName: '',
        lastName: '',
        mobile_No: '',
        email: '',
        facebook: '',
        img: ''
      }
    }
  },
  methods: {
    updateToAPI () {
      console.log(this.$route.params.userId)
      let newUser = {
        contact_Id: this.User.contact_Id,
        firstName: this.User.firstName,
        lastName: this.User.lastName,
        mobile_No: this.User.mobile_No,
        email: this.User.email,
        facebook: this.User.facebook,
        img: this.User.img
      }
      console.log(newUser)
      axios.post('http://localhost:3000/users/' + this.$route.params.userId, newUser)
        .then((response) => {
          console.log(response)
        })
        .catch((error) => {
          console.log(error)
        })
      window.location.reload()
    }
  },
  mounted () {
    axios.get('http://localhost:3000/users/' + this.$route.params.userId)
      .then((response) => {
        console.log(response.data)
        this.User = response.data
      })
      .catch((error) => {
        console.log(error)
      })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>