<template>
  <div class="userlist">
    <div class="panel panel-default" style="border-width:medium; margin-top:80px; margin-left:5px; margin-right:5px;">
      <div class="ui grid" style="margin-left:20px; margin-top:10px; margin-right:20px;">
        <div class="panel panel-default" style="border-width:medium; border-top-color:#48C9B0;  margin-top:10px; ">
            <br/>
            <form action="" class="input-group">
              <span class="input-group-btn">
                <div class="ui teal ribbon label" style="font-size:15px">
                  Contacts
                </div>
              </span>
              <div class="input-group" style="width: 95%; margin: 0 auto; position:relative;">
                <input type="text"  class="form-control" placeholder="  Search..." v-model="search">
              
                <span class="input-group-btn">
                      <button type="button" class="btn btn-default" style="background:#D0D3D4">Search</button>
                      <router-link :to="'/new'">
                        <button type="button" style="color:white; background:#DC7633; border-color:#DC7633" class="btn btn-default">+ Add</button>
                      </router-link>
                </span>
              </div>
            </form>
            <br/>
        </div>
      </div>
    
      <br>
      
      <div class="panel panel-default" style="border-width:medium;margin-left:20px; margin-right:20px; ">
        <br>
        <br>
        <br>
      </div>
      
      <div class="panel panel-default" style="border-width:medium;border-width:medium;margin-left:20px; margin-right:20px; padding:5px ">
        <div class="ui link cards" style="padding:15px;  justify-content: center; ">
          <div class="card" v-for="auser in filterdUsers" v-bind:key="auser._id">
            <div class="image">
               <img v-bind:src = auser.img >
            </div>
            <div class="content">
              <div class="header">{{ auser.firstName + "   " + auser.lastName}}</div>
              <div class="meta">
                <a text-align: center>Mobile: {{ auser.mobile_No}}</a><br>
                <a text-align: center>Email: {{ auser.email}}</a><br>
                <a text-align: center>Facebook: {{ auser.facebook}}</a>
              </div>
            </div>
            <div class="extra content">
              <span class="floated">
                <router-link :to="{path: '/updateuser/'+auser._id}">
                  <button class="btn btn-xm btn-primary"><span class="fa fa-edit"></span></button>
                </router-link>
                <button class="btn btn-xm btn-danger" data-toggle="modal" data-target=".bd-example-modal-sm" @click="delUser(auser._id)"><span class="fa fa-eraser"></span></button>
              </span>
              
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

</template>

<script>
import axios from "axios";

export default {
  name: "UserList",
  data() {
    return {
      Users: [],
      uid: "",
      search: "",
    };
  },
  methods: {
    // Delete User
    delUser(userId) {
      var url = "http://localhost:3000/users/" + userId;
      axios.delete(url)
        .then(response => {
          console.log("Delete UserId: " + userId);
        })
        .catch(error => {
          console.log(error);
        });
       window.location.reload()
      
    },
    DELETE(id) {
      $('#my-modal').modal('show');
      this.uid = id;
    }
  },
  computed: {
    // Search Userss
    filterdUsers: function() {
      return this.Users.filter(user => {
        var fullName = user.firstName + user.lastName
        //console.log(fullName)
        return fullName.toLowerCase().match(this.search.toLowerCase());
      })
    }
  },
  mounted() {
    axios.get("http://localhost:3000/users")
      .then((response) => {
        console.log(response.data);
        this.Users = response.data;
      })
      .catch((error) => {
        console.log(error);
      })
  }
}
</script>

<style>

</style>

