<template>
  <div id="app">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="ui inverted menu">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Vue.js_Logo.svg/2000px-Vue.js_Logo.svg.png" height="60" width="60">
        <a class="item">Contact</a>
          <div class="right menu">
                <a href='/login' class="fa fa-user" aria-hidden="true" style="font-size:30px; color:white; margin-top:15px; margin-right:60px; "></a>
			    </div>
		  </div>
    </div>
     <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
